#container {
  min-height: 600px;
  min-width: 300px;
  height: 60%;
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  border-radius: 20px;
}

#tituloContainer {
  margin-top: 3em;
}

#subtituloContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

#subtitulo {
  width: 85%;
  text-align: center;
  margin: 0;
  margin-top: 1em;
  align-self: center;
  font-weight: 400;
}

#formContainer {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 19px;
}

#cadastro {
  color: #feaf00;
  font-weight: 500;
  font-size: 0.8em;
  margin-top: 2em;
  justify-self: flex-end;
  text-decoration: underline;
}

#cadastro:hover {
  cursor: pointer;
}
