#botao {
  padding-top: 15px;
  padding-bottom: 15px;
  border-radius: 4px;
  width: 85%;
  border: 0px;
  color: white;
  font-weight: 500;
  background-color: #feaf00;
}

#botao:hover {
  background-color: #f0a500;
}

#botao:active {
  background-color: #e59800;
}
