#botaoFormulario {
  padding-top: 15px;
  padding-bottom: 15px;
  border-radius: 4px;
  border: 0px;
  color: white;
  font-weight: 500;
  background-color: #feaf00;
  text-align: center;
}

#botaoFormulario:hover {
  background-color: #f0a500;
}

#botaoFormulario:active {
  background-color: #e59800;
}
