* {
  font-family: "Montserrat", sans-serif;
}

#containerCampo {
  width: 85%;
  margin-top: 20px;
  font-weight: 500;
}

#campo {
  box-sizing: border-box;
  margin-top: 5px;
  border-radius: 5px;
  padding: 15px;
  width: 100%;
  border: 1px solid #e5e5e5;
}

#campo::placeholder {
  color: #cdcdcd;
}

#campo:focus {
  outline: none;
}
