#cardLivro {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-family: mont;
  height: 40px;
  margin: 20px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  background-color: #fff;
}
