table {
  table-layout: fixed;
  width: 90%;
  border-collapse: collapse;
}

thead td {
  width: 15%;
  font-weight: 600;
  font-size: 0.8em;
  color: #acacac;
  text-align: center;
  padding-bottom: 10px;
}

tbody tr {
  height: 50px;
  background-color: #fff;
  border-color: #acacac;
  border-style: solid;
  border-width: 1px;
}

tbody td {
  width: 15%;
  font-size: 0.8em;
  text-align: center;
}

#tabela {
  display: flex;
  justify-content: center;
}

#fiveRows {
  width: 30%;
}
